html, body { height: 100%; }

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

.container {
    width: 770px !important;
    height: 128px !important;
    border: 1px solid #e8e8e8;
    padding: 12px;
}

p { margin: 0; padding: 0; }

.event-listener {
    display: flex;
    justify-content: space-around;
    padding: 12px;
}

.event-label {
    display: flex;
    flex-direction: column;
}
